<div id="header">

    <div class="top">


        <div id="logo">
            <h3><span>Здравствуйте, </span> <span><%= user.name %></span></h3>
        </div>


        <nav id="nav">
            <ul>
                <li><a href="#top" id="top-link"><span class="icon solid fa-home">Personal Area</span></a></li>
                <li><a href="#personalArea" id="personalArea-link"><span
                                class="icon solid fa-th">Personal Area</span></a></li>
                <li><a href="/users/logout" id="personalArea-link"><span class="icon solid fas fa-sign-out-alt"
                                                                         style="margin-bottom: 10px;"><br></br>Выйти</span></a>
                </li>

                <!--								<li><a href="#about" id="about-link"><span class="icon solid fa-user">123</span></a></li>-->
            </ul>
        </nav>

    </div>

</div>


<div id="main">

    <section id="top" class="one">
        <div class="container">

            <div class="container">

                <header>
                    <h2>Личный кабинет</h2>
                </header>
                <br><br><br>
                <div>
                    <button style="margin: 0 auto; margin-bottom: 10px; height: 100px; width:600px;">Посмотреть мою
                        текущую статистику
                    </button>
                </div>
                <div>
                    <button style="margin: 0 auto; margin-bottom: 10px; height: 100px; width: 600px;">Посмотреть
                        запланированную статистику
                    </button>
                </div>
                <div>
                    <button style="margin: 0 auto; margin-bottom: 10px; height: 100px; width: 600px;">Добавить желаемую
                        закупку
                    </button>
                </div>
            </div>

        </div>
    </section>

    <section id="personalArea" class="two">

        <div class="container">

            <header>
                <h2>Поиск по инн</h2>
            </header>
            <div class="container">
                <br>
                <input>
                <a class="button search" style="width: 500px;" href="">Найти</a>
                <div class="container">
                    <h1 style="margin: 0 auto;">Полученная информация:</h1>
                    <div class="container"
                         style="border-radius: 15px; background-color:rgb(168, 206, 206); position: relative; max-width: 600px;">
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                    </div>
                </div>
            </div>

        </div>
    </section>
</div>


<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.scrolly.min.js"></script>
<script src="assets/js/jquery.scrollex.min.js"></script>
<script src="assets/js/browser.min.js"></script>
<script src="assets/js/util.js"></script>

<script src="assets/js/main.js"></script>
<script src="assets/js/download.js"></script>
