<div id="header">

    <div class="top">


        <div id="logo">
            <h3><span>Здравствуйте, </span> <span>
                    <%= user.name %>
                </span></h3>
        </div>


        <nav id="nav" style="display: inline-block;">
            <ul>
                <li><a href="#top" id="top-link"><span class="icon solid fa-home">ЛК</span></a></li>
                <li><a href="#personalArea" id="personalArea-link"><span class="icon solid fa-th">ПИ</span></a></li>
                <li><a href="#personalArea" id="personalArea-link"><span class="icon solid fa-th">Описание</span></a>
                </li>
                <li><a href="/users/logout" id="personalArea-link"><span class="icon solid fas fa-sign-out-alt"
                            style="margin-bottom: 10px;"><br></br>Выйти</span></a></li>

                <!--								<li><a href="#about" id="about-link"><span class="icon solid fa-user">123</span></a></li>-->
            </ul>
        </nav>

    </div>

</div>


<div id="main">

    <section id="top" class="one">
        <div class="container">

            <div class="container">

                <header>
                    <h2 style="font-size: 40px;">Личный кабинет</h2>
                </header>

            </div>
            <div style="display: flex;">
                <div style="width: 500px;">
                    <h2 style="text-align: left;">Имя: </h2>

                </div>
                <div style="width: 800px; text-align: left;">
                    <h2 style="font-size: 26px;">
                        <%= user.name %>
                    </h2>
                </div>
                
            </div>
            <div style="display: flex;">
                <div style="width: 500px;">
                    <h2 style="text-align: left;">E-mail: </h2>
                </div>
                <div style="width: 800px; text-align: left;">
                    <h2 style="font-size: 26px;">
                        <%= user.email %>
                    </h2>
                </div>
            </div>
            <div style="display: flex;">

                <div style="width: 500px;">
                    <h2 style="text-align: left;">Дата регистрации: </h2>
                </div>
                <div style="width: 500px; text-align: left;">
                    <h2 style="font-size: 26px;">
                        <%= user.date %>
                    </h2>
                </div>

            </div>

        </div>
    </section>

    <section id="personalArea" class="two">

        <div class="container">

            <header>
                <h2 style="font-size: 40px;">Поиск по инн</h2>
            </header>
            <div class="container">
                <br>
                <input>
                <a class="button search" style="width: 500px;" href="">Найти</a>
            </div>

        </div>
    </section>

    <section class="three">
        <div class="container">
            <header>
                <h2 style="font-size: 40px;">Описание</h2>
            </header>
            <div class="container">
                <p>При нажатии на кнопку "Поиск по инн", произойдёт переадресация на другую страницу сайта, где будут
                    сформированны блоки с информации, связанной с этим инн</p>
            </div>
        </div>
    </section>
</div>


<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.scrolly.min.js"></script>
<script src="assets/js/jquery.scrollex.min.js"></script>
<script src="assets/js/browser.min.js"></script>
<script src="assets/js/util.js"></script>

<script src="assets/js/main.js"></script>
<script src="assets/js/download.js"></script>