<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body">
            <h1 class="text-center mb-3">
                Регистрация
            </h1>
            <% include ./errors %>
            <form action="/users/register" method="POST">
                <div class="form-group">
                    <label for="name">Имя</label>
                    <input
                            type="name"
                            id="name"
                            name="name"
                            class="form-control"
                            placeholder="Введите имя"
                            value="<%= typeof name != 'undefined' ? name : '' %>"
                    />
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input
                            type="email"
                            id="email"
                            name="email"
                            class="form-control"
                            placeholder="Введите почту"
                            value="<%= typeof email != 'undefined' ? email : '' %>"
                    />
                </div>
                <div class="form-group">
                    <label for="password">Пароль</label>
                    <input
                            type="password"
                            id="password"
                            name="password"
                            class="form-control"
                            placeholder="Придумайте пароль"
                            value="<%= typeof password != 'undefined' ? password : '' %>"
                    />
                </div>
                <div class="form-group">
                    <label for="password2">Повторите пароль</label>
                    <input
                            type="password"
                            id="password2"
                            name="password2"
                            class="form-control"
                            placeholder="Подтвердите пароль"
                            value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
                    />
                </div>
                <button type="submit" class="btn">
                    Зарегистрироваться
                </button>
            </form>
            <p class="lead mt-4"><a href="/users/login">Войти</a></p>
        </div>
    </div>
</div>
